{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
Dear <strong>{{ username }}</strong> , <br>
<br>
activate your account by clicking here: {{ activation_link }}. 
<br>
If you want to receive a new link, register again with the same email but with a <strong>different username</strong> . <br>
Your data (id, username, password), <strong>will not change</strong> .
</body>
</html> 
{% endcomment %}


Dear <strong>{{ username }}</strong> , <br>
<br>
activate your account by clicking here: {{ activation_link }}. <br>
<br>
This link can be used only once. If you want to receive a new link, register again with the same email but with a <strong>different username</strong> . <br>
Your data (id, username, password), <strong>will not change</strong> .



