# Define the services (containers) that make up the application
services:
  # Backend service (Django + Gunicorn)
  backend:
    # Tell Docker Compose to build an image instead of pulling one
    build:
      # Path to the folder containing the backend Dockerfile
      context: ./SERVER_BACKEND
      # Name of the Dockerfile inside that folder
      dockerfile: Dockerfile
    # Map ports between host and container
    ports:
      # Format = "host_port:container_port"
      # Access backend from browser at localhost:8000
      - "8000:8000"
    # Load environment variables from this host file into the container (e.g., SECRET_KEY)
    env_file:
      - ./SERVER_BACKEND/.env
    # Bind-mount the SQLite database file: use the host file on the left inside the container at /app/db.sqlite3
    # /app is the WORKDIR defined in the Dockerfile
    volumes:
      - ./SERVER_BACKEND/db.sqlite3:/app/db.sqlite3

  # Frontend service (React + Vite preview)
  frontend:
    # Build the frontend image from its Dockerfile
    build:
      # Path to frontend folder containing Dockerfile
      context: ./CLIENT_FRONTEND
      # Dockerfile name
      dockerfile: Dockerfile
    # Map ports between host and container
    ports:
      # Format = "host_port:container_port"
      # Access React app at localhost:4173
      - "4173:4173"

# Running docker compose up --build:
#   - Looks inside ./SERVER_BACKEND
#   - Executes the Dockerfile there
#   - Creates an image
#   - Starts a container from that image
#   - Same for the frontend.
# The --build option:
# - rebuilds the images before starting containers
